*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* parimary code */
    .btn{
        border: none;
        border-radius: 5px;
        background-color: #30B868;
        color: #FFFFFF;
        padding: 12.5px 16px;
        cursor: pointer;
        transition: 0.6s;
    }


    .btn:hover{
        background-color: red;
        color: #001931;
    }


/* header section */

header{
    max-width: 1240px;
    margin: 0 auto;
    background-color: #F7F6F2;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;

}
.list-item ul li{
    padding: 5px 8px;
    transition: 0.6s;
}

.list-item ul :hover{
    background-color: #F95555;
    color: #FFFFFF;
    
}

.list-item ul{
    display: flex;
    justify-content: space-between;
    gap: 34px;

}
.list-item ul li{
    list-style: none;
}
.list-item ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}

/* hero section code start  */

.hero-container img{
    width: 100%;
    height: 100%;
}

.hero-container{
    max-width: 1240px;
    margin: 0 auto;
    position: relative;
}

.hero-btn button{
    color: #FFFFFF;
}

.hero-btn {
    text-align: center;
}

.hero-text{
    position: absolute;
    bottom: 20%;
    left: 23%;
}

.Access-box{
    text-align: center;
}
.Access-btn{
    border: none;
    border-radius: 30px;
    padding: 2.5px 6px;
    margin-bottom: 24px;
    color: #30B868;

}
.Access-btn img {
    width: 8%;
    height: 8%;
}

.hero-text h2{
    color: #FFFFFF;
    font-size: 72px;
    font-weight: 700;
    line-height: 72px;
    margin-bottom: 16px;
}
.hero-text span{
    color: #30B868;
}

.hero-text p{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 32px;
    color: #ffffffc9;
    text-align: center;
}
.hero-btn button:last-child{
    border-radius: 5px;
    padding: 16px;
    background-color: #ffffff1b;
}

/* card section code start */

#first-Structure{
    max-width: 1240px;
    margin: 0 auto;
    background-color: #62738209;
}
.card-container{
    text-align: center;
    padding: 0 120px;

}
.card-container h2{
    font-size: 48px;
    color: #000000;
    padding: 34px 0 16px 0;
}
.card-container p{
    color: #627382;
}
.card{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-top: 44px;

}

.card-box{
    background-color: #FFFFFF;
    padding: 30px 15px;
}
.card-box img{
    background-color: red;
    padding: 12px 12px;
    border-radius: 50%;
}
.card-box h3{
    font-size: 20px;
    font-weight: 500;
    margin: 16px 0;
}
.card-box p{
    font-size: 13px;
    line-height: 1.15;

}


/* Structure-section code start */

#second-Structure{
    max-width: 1240px;
    margin: 0 auto;
    padding: 120px;
}

.Structure-section{
    display: flex;
    gap: 60px;
    align-items: center;
}

.Structure-text-box h6 {
    color: #469165;
    font-size: 16px;
}
.Structure-text-box h2{
    color: #001931;
    font-size: 35px;
    padding: 16px 0;
}
.Structure-text{
    color: #627382;
    font-size: 14px;
    align-items: center;
    padding-bottom: 16px;
    line-height: 1.25;
    

}
.list-text p{
    font-size: 16px;
    white-space: nowrap;
    margin-bottom: 16px;

}

.Structure-text-box p img{
    width: 4%;
    height: 4%;
}
.btn-icon img{
    width: 14px;
    height: 14px;
}


/* think-section code start */

#think-section{
    width: 65%;
    max-width: 1240px;
    margin: 0 auto;
}
.think-container{
    padding: 80px 40px;
    text-align: center;
    background-color: #F7F6F2;
}
.think-container h2{
    font-size: 40px;
    font-weight: 700;
}

.think-container p {
    margin: 16px 0;
    font-size: 16px;
}


/* footer code start */

footer{
    max-width: 1240px;
    margin: 0 auto;
    background-color: #060d24ed;
    text-align: center;
}

.social-box{
    margin: 80px 0;
    padding: 120px;
    display: flex;
    justify-content: space-between;
}

.social-box h4{
    color: #FFFFFF;
    margin-bottom: 16px;
}

.copy{
    text-align: center;
    color: #ffffff;
    padding-bottom: 30px;
}