*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* parimary code */
    .btn{
        border: none;
        border-radius: 10px;
        background-color: #30B868;
        padding: 12.5px 16px;
    }
    .btn a{
        text-decoration: none;
        color: #FFFFFF;
    }


/* header section */

header{
    max-width: 1240px;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
    align-items: center;

}

.list-item ul{
    display: flex;
    justify-content: space-between;
    gap: 34px;

}
.list-item ul li{
    list-style: none;
}
.list-item ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #000000;
    font-weight: 500;
}